.filters-container {
  display: flex;
  height: 100%;
  .filters {
    align-self: flex-end;
    bottom: 3rem;
    position: -webkit-sticky;
    position: sticky;
    padding: 2.5rem;
    border: 3px solid $black;
    border-radius: $radius;
  }

  .filters-section {
    margin: 2rem 0;
    .filters-section-title {
      font-size: 2.8rem;
      font-weight: 700;
    }
    .filters-section-instructions {
      color: $gray;
      font-style: italic;
    }
  }

  .filters-subsection {
    margin-bottom: 1rem;
  }

  // Tags
  .tag {
    cursor: pointer;
    &:hover, &:focus {
      color: $white;
      background-color: $highlight;
    }
  }
}