.popup-container {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($text, 0.8);
  .popup {
    width: calc(100vw - 40px);
    max-width: 500px;
    padding: 4rem;
    background-color: $white;
    border-radius: $radius;
  }
}