.tags {
  display: flex;
  flex-wrap: wrap;
  .tag {
    margin: 4px 5px;
    padding: 7px 20px;
    color: $white;
    font-weight: 500;
    background-color: $highlight;
    border: 3px solid $highlight;
    border-radius: 25px;
    transition-property: all;
    @include easeSineIn;
    &.unselected {
      color: $highlight;
      background-color: $white;
      @include easeSineOut;
    }
  }
}