@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400&display=swap');

$fontPrimary: 'Montserrat', sans-serif;
$fontSize: 2rem;

h1, h2, h3 {
  font-family: $fontPrimary;
  font-weight: 700;
  line-height: 1.2;
  color: $black;
}
h1 {
  margin: 3rem 0;
  font-size: 6rem;
  line-height: 1.1;
  @media (max-width: $md) {
    font-size: 7rem;
  }
  @media (max-width: $sm) {
    font-size: 5rem;
  }
}
h2 {
  margin: 0;
  font-size: 4.5rem;
  @media (max-width: $md) {
    font-size: 3.8rem;
  }
  @media (max-width: $sm) {
    font-size: 3rem;
  }
}
h3 {
  margin: 1rem 0;
  font-size: 2.8rem;
}

a {
  text-decoration: none;
  color: $text;
  box-shadow: inset 0 -5px 0 0 rgba($highlight, 1);
  transition: box-shadow 100ms ease;
  &:hover, &:focus {
    box-shadow: inset 0 -18px 0 0 rgba($highlight, 1);
  }
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}